<!doctype html>
<html>
<head>
<title>FOIAface - A Public Information Request Tool</title>
<meta name="description" content="FOIAface - A Tool for Making Public Information Requests to Maryland and Related Counties"</meta>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/foiaface/css/styles.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/static/foiaface/js/jquery.jeditable.mini.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">FOIAface</a>
          <a class="navbar-brand" href="{% url 'resources' %}">Data Resources</a>
        </div>
    </div>

{% block content %}
{% endblock content %}

{% block js %}{% endblock js %}
</body>
</html>