<!doctype html>
<html>
<head>
<title>FOIAface - A Public Information Request Tool</title>
<meta name="description" content="FOIAface - A Tool for Making Public Information Requests to Maryland and Related Counties"</meta>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/foiaface/css/styles.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<style>
    .left { width:55%; float:left;}
    .right { width: 40%; float:right; padding: 10px; background-color: #efefef; -webkit-border-radius:8px; box-shadow: 3px 3px 2px #B0AEAE;}
    .right h3 { margin-left: 20px;}
    ul.sidebar li p {display: none;}
</style>

</head>
<body>
{% block content %}
{% endblock content %}
{% block js %}
{% endblock js %}
<script type="text/javascript">
$('select#jurisdiction').change(function(){
    var j_id = $(this).val();
    $('div.form').find('input#jid').val(j_id);

    $.get('/subdivisions/' + j_id, function(data){ 
        $('div#subdivisions').append(data);
    });
});
$('select#subdivision').change(function(){
    var s_id = $(this).val();

    $.get('/letter/', function(data){ 
        $('div#subdivisions').append(data);
    });
});

$('ul.sidebar li a').click(function(){
    $(this).siblings('p').show();
});
</script>
</body>
</html>