<!doctype html>
<html>
<head>
<title>FOIAFace - A Public Information Request Tool</title>
<meta name="description" content="FOIAFace - A Tool for Making Public Information Requests to Maryland and Related Counties"</meta>
</head>
<body>
{% block content %}

{% endblock content %}

{% block js %}

{% endblock js %}

<script type="javascript/text" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="javascript/text">
$('select#jurisdiction').change(function(){
    $('div.content').append()

});
</script>

</body>
</html>