<p>To: {{ jurisdiction.contact.first_name }} {{ jurisdiction.contact.last_name }} &lt;{{ jurisdiction.contact.email }}&gt;</p>
<p>From: <span class="edit">your first name</span> <span class="edit">your last name</span> &lt;<span class="edit">your email address here</span>&gt;</p>
<p>Dear {{ jurisdiction.contact.first_name }} {{ jurisdiction.contact.last_name }},<p>
<p>This is a request under the Maryland Public Information Act, State Government
Article §§10-611 to 630. I request all records in your custody and control pertaining to
the following:</p> 

<p class="edit_area">Enter the information that you are seeking here</p>

<p>If all or any part of this request is denied, I request that I be provided with a
written statement of the grounds for the denial. If you determine that some portions of
the requested records are exempt from disclosure, please provide me with the portions
that can be disclosed.</p>

<p>Please advise me as to the cost, if any, for inspecting the records described above. 
I anticipate that I will want copies of some or all of the records sought. If you have
adopted a fee schedule for obtaining copies of records and other rules or regulations
implementing the Act, please send me a copy.</p>

<p>I look forward to receiving disclosable records promptly and, in any event, to a
decision about all of the requested records within 30 days. Thank you for your
cooperation. If you have any questions regarding this request, please email me at the following email address:</p>

<p>Sincerely,</p>

<p><span class="edit">your first name</span><span class="edit">your last name</span></p>