{% extends "base.html" %}
{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1><img class="state_flag" src="/static/foiaface/images/flags/maryland_200.png"> Maryland</h1>
        <h2>Maryland Data Resources</h2>
    </div>
</div>
<div class="container">
    <div class="left">
        <ul class="data">
            <li><a href="https://data.maryland.gov/">State of Maryland StateStat Portal</a>
                <p>Maryland's open data portal</p>
            </li>
            <li><a href="https://data.montgomerycountymd.gov/">Data Montgomery</a>
                <p>Montgomery County's open data portal</p>
            </li>
        </ul>           
    </div>
    
</div>  
{% endblock %}