.state_flag { height: 45px; margin-top: -12px; }
#letter { display: none; }

ul.sidebar li p {display: none;}
ul.sidebar li ul {display:none;}

.faq-item { margin: 2em 0; }
.faq-item p { display: none; }