.state_flag { height: 60px;}
#letter { display: none; }

.left { width:55%; float:left;}
.right { width: 40%; float:right; padding: 10px; background-color: #efefef; -webkit-border-radius:8px; box-shadow: 3px 3px 2px #B0AEAE;}
.right h3 { margin-left: 20px;}
ul.sidebar li p {display: none;}
ul.sidebar li ul {display:none;}